@model BeerXML.Models.RecipeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h3 class="ui header">New Recipe</h3>
<form class=""  method="post" asp-action="Index" asp-controller="NewItem">
    @Html.EditorFor(m => m.Recipe)
    <h3 class="ui header">Waters</h3>
    @Html.EditorFor(m => m.Water)
    <div class="row right-align">
        <button class="waves-effect waves-light btn" type="submit">
            <i class="material-icons left">send</i>
            Submit
        </button>
    </div>
</form>

