@model BeerXML.Models.MashMashStepViewModel

@{
    ViewData["Title"] = "Add Water Item";
}

<form class="" method="post" asp-action="Mash" asp-controller="NewItem">
    @Html.EditorFor(m => m.Mash)

    <div class="row right-align">
        <a id="btn_ajax" class="waves-effect waves-light btn modal-trigger" href="#new_mash_step">
            New Mash Step
        </a>
    </div>
    <div class="row right-align">
        <button class="waves-effect waves-light btn" type="submit">
            <i class="material-icons left">send</i>
            Submit
        </button>
    </div>

    <div id="new_mash_step" class="modal modal-fixed-footer">
        <div id="ajax_response_container" class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
            @*@Html.EditorForModel("MashStep")*@
            @Html.EditorFor(m => m.MashSteps)
        </div>
        <div class="modal-footer">
            <a id="mash_step_add_button" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Add</a>
        </div>
    </div>
</form>

<script>
    var nextNumber = 0;
    $('#btn_ajax').click(function () {
        $.ajax({
            url: '@Url.Action("MashStepTemplate", "NewItem")',
            contentType: 'application/html; charset=utf-8',
            data: { nameAttributeId: nextNumber++ },
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            $('#ajax_response_container').html(result);
        })
        .error(function (xhr, status) {
            alert(result);//watch this
        })
    });
</script>
<script id="new_mash_step_modal_template" type="x-tmpl-mustache">

</script>