@model BeerXML.Models.Recipe

<div class="required field">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" placeholder="Name" data-content="Name of the recipe." data-position="top right" required>
</div>

<div class="required field">
    <label asp-for="Version">Version</label>
    <input asp-for="Version" type="number" min="1" placeholder="Version" required>
</div>

<div class="required field">
    <label asp-for="Type">Type</label>
    <select asp-for="Type" class="ui search dropdown" id="new_recipe_type" enables-conditional="true" required>
        <option value="">Select Type</option>
        <option value="Extract">Extract</option>
        <option value="Partial Mash">Partial Mash</option>
        <option value="All Grain">All Grain</option>
    </select>
</div>

<div class="required field">
    <label asp-for="Brewer">Brewer</label>
    <input asp-for="Brewer" type="text" placeholder="Brewer" required>
</div>

<div class="field">
    <label asp-for="AsstBrewer">Assistant Brewer</label>
    <input asp-for="AsstBrewer" type="text" placeholder="Assistant Brewer">
</div>

<div class="required field">
    <label asp-for="BatchSize">Batch Size</label>
    <input asp-for="BatchSize" type="number" min="0.1" step="0.1" placeholder="Batch Size" required>
</div>

<div class="required field">
    <label asp-for="BoilSize">Boil Size</label>
    <input asp-for="BoilSize" type="number" min="0.1" step="0.1" placeholder="Boil Size" required>
</div>

<div class="required field">
    <label asp-for="BoilTime">Boil Time</label>
    <input asp-for="BoilTime" type="number" min="0" placeholder="Boil Time" required>
</div>

<div class="required disabled field" depend-on="new_recipe_type" depend-type="blacklist" depend-val="Extract">
    <label asp-for="Efficiency">Efficiency</label>
    <input asp-for="Efficiency" type="number" min="0" step="0.1" placeholder="Efficiency" required>
</div>

<div class="field">
    <label asp-for="Notes">Notes</label>
    <textarea asp-for="Notes" rows="2" placeholder="Notes"></textarea>
</div>

<div class="field">
    <label asp-for="TasteNotes">Taste Notes</label>
    <textarea asp-for="TasteNotes" rows="2" placeholder="Taste Notes"></textarea>
</div>

<div class="field">
    <label asp-for="TasteRating">Taste Rating</label>
    <input asp-for="TasteRating" type="number" min="0" max="50" step="0.1" placeholder="Taste Rating">
</div>